<!DOCTYPE html>
{% load staticfiles %}
  <html>
    <head>
    	  <title>{% block title %} {{ head|title}} {% endblock %}</title>
          <style type="text/css">
          body {
          background-image:url({% static 'base/img/back.jpg' %});
          background-repeat: no-repeat;
          background-position: center;
      }
          </style>
   {% load compress %}

{% compress css %}
          <link rel="stylesheet" href="/static/css/bootstrap.min.css">
          <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
       {% endcompress %}
    </head>
 
    <body>
   
      <!--modal starts  -->

{% if not request.user.is_authenticated %}     

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% block modal_title %} {% endblock %}</h4>
      </div>
      <div class="modal-body">
        {% block modal_body %}
        
        {% endblock %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal --><!-- /.modal -->
{% endif %}

      <!-- modal ends  -->
      <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/accounts/login/">My Mystery Books</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/accounts/login/">Home</a></li>
        
        <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
       
      </ul>
     
      <ul class="nav navbar-nav navbar-right">
          
         
         {% if not request.user.is_authenticated %}
         {% block nav_login %}
       <li>  <a type="submit" class="btn btn-default" href="{% url 'auth_login' %}">Go to login </a></li>
       
       <li>  <a type="submit" class="btn btn-default" href="/accounts/register/">register</a></li>
       {% endblock %}
        {% else %}
        <li><a href="#"><b>Hello </b> {{request.user.username}}</a></li>
          <li ><a type="submit"  class="btn btn-default " href="{% url 'auth_logout' %}">logout </a></li>
        {% endif %}
      </form>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% block content %}

{% endblock %}

<div class="container">
  <div class="row">
      <div class="col-md-12">
          <h1 style="text-align:center; color:white"> Welcome to Mystery Books </h1>
      </div>

  </div>
{% for book in book %}
  {%if forloop.counter0|divisibleby:4 %}
 <div class="row" >
  {% endif %}
  <div class="col-md-3">
    <div class="jumbotron">
  <h3>{{book.title}}</h3>
  <span>{{book.description}}</span>
  
</div>
  </div>
  {% if forloop.counter0|add:1|divisibleby:4 %}
</div>
{% endif %}
{% endfor %}

{% block body %}

{% endblock %}

</div>


   <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
 <script>
$(document).ready(function(){
  $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').focus()
})
})
 </script>

	</body>
 </html>
 