<!DOCTYPE html>
  <html>
    <head>
    	  <title> the udemy project </title>
    </head>

    <body>
    	<form method='post' action='.'>
    		
    	{% csrf_token %}
        {{message}}
    	{% if request.user.is_authenticated %}
    	   hello {% if request.user.first_name %}
    	          {{ facebook_name }}
    	          {% else %}
    	          {{request.user.username}}
    	          {% endif %}
                  <br>
	          <a href="{% url 'auth_logout' %}" >Log Out </a>
        {% else %}

    	please login <a href="{% url 'auth_login' %}" >Log in</a>
    	
    	{% endif %}
    </form>
	</body>
 </html>
 